@layer geral {
  * {
    margin: 0;
    padding: 0;
    color: black;
  }
}

@layer navegacao {
  ul,
  li {
    list-style: none;
    display: inline;
    margin-left: 90px;
  }

  #menu {
    height: 30px;
    margin-top: 50px;
  }
  .menu-listas {
    margin-top: 35px;
  }

  .lista {
    color: black;
    background-color: #ffd230;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
  }

  .lista:hover {
    color: #ffd230;
    background-color: rgb(7, 11, 11);
    cursor: pointer;
  }

  #area_logo,
  img {
    width: 260px;
    height: 90px;
  }

  .menu {
    margin-left: 300px;
  }

  .navegacao {
    display: flex;
    margin: 10px;
  }
}
a:link {
  text-decoration: none;
  color: black;
}

@layer botao {
  .botao {
    color: black;
    background-color: #ffd230;
    border: #ffd230 solid;
    border-radius: 150px;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
  }

  .botao:hover {
    color: #ffd230;
    background-color: rgb(7, 11, 11);
    cursor: pointer;
  }
}


@layer lista_criptomoedas{
  .icon_moeda {
    width: 50px;
    height: 50px;
  }
  
  .icone-troca {
    width: 50px;
    height: 50px;
  }

  #tabela_{
    width: 97%;
    margin: auto;
    text-align: center;
  }
   
  #tabela_ td{
    padding: 5px;   
  }
  
  .marcacao:hover{
    background-color: #ffd230;
    cursor: pointer;
    width: 50%;
  }

  .grafico_BTC,.grafico_ETH, .grafico_LIT, .grafico_TRON {
    height: 100px;  
    display: none;
  }

  .botao_mais{
    background-color: #f3da83;
    border: none;
    width: 50px;
    font-weight: bold;
  }
  
  .outras_info{
   height: 100px ;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-between;
   padding: 10px;
   background: #ffd2304e;

  }

  .infos{
    border-bottom: 1px solid rgb(0, 38, 255);
    width: 350px;
    height: 25px;
  }
  
}
   


